.sapMOHIcon .sapMImg{
    max-height: 20rem !important;
    max-width: 20rem !important;
}

.sapMOHIcon + .sapMOHTitle {
    margin-left: 20rem !important;
}

.myEitBar {
    background-color: #0400db !important;
}

.sapMBarRight, .sapMBarPH {
    padding-left: none !important;
    padding-right: none !important;
}

.sapMBtnContent {
    font-size: 100%;
    color: white;
}