.sapMOHIcon .sapMImg{
    max-height: 75% !important;
    max-width: 75% !important;
}

.sapMOHIcon + .sapMOHTitle {
    margin-left: 30% !important;
}

.myEitBar {
    background-color: #2981E9 !important;
}

.myTitle{
    color: white;
    font-size: 150%
}

.sapMBarRight, .sapMBarPH {
    padding-left: none !important;
    padding-right: none !important;
}

.sapMBtnContent {
    font-size: 100%;
    color: white;
}

.sapMBtnIcon{
    color: white !important;
}

.sapUxAPObjectPageHeaderTitleTextWrappable{
    font-size: 300%;
}

.sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderIdentifierContainer .sapUxAPObjectPageHeaderIdentifierDescription {
    font-size: 150% !important ;
}

.myImageCustom {
    width: 100%;
    height: 100%;
    margin-top: -15px;
    border-top-left-radius: 125px;
    border-bottom-right-radius: 125px;
    border-style: solid;
    border-width: 3.5px;
    border-bottom-color: #48BAD6;
    border-right-color: #48BAD6;
    border-top-color: #4A77AB;
    border-left-color: #4A77AB;
}